<div class='input' data-controller="input">
  <h1>The Big Short</h1>
  <input id='input' data-input-target="url" type="text"/>
  <button data-action="click->input#shorten">Get Shorty</button>
  <span id='display-span' class='display' data-action="click->input#copy">
    <p id='display'data-input-target="display" ></p>
    <i class="far fa-clipboard"></i>
  </span>
  
 </div>
