<div class='input' data-controller="input">
  <h1>Get Shorty</h1>
  <input data-input-target="url" type="text"/>
  <button data-action="click->input#shorten">The Big Short</button>
  <h4 class='display' data-target="input.display"></h4>
 </div>
