<div class='input' data-controller="input">
  <h1>The Big Short</h1>
  <input id='input' data-input-target="url" type="text"/>
  <button data-action="click->input#shorten">Get Shorty</button>
  <a class='display' data-input-target="display"></a>
 </div>