<div class='input' data-controller="input">
  <h1>Get Shorty</h1>
  <input id='input' data-input-target="url" type="text"/>
  <button data-action="click->input#shorten">The Big Short</button>
  <a class='display' data-target="input.display"></a>
 </div>