// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin-top: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    text-align: center;

    .display {
      display: block;
      margin-top: 25px;
      text-decoration: none;
    }

    .textMessage {
      font-weight: 700;
      font-size: 20px;
    }

    .shortLink {
      color: blue;
      font-weight: 400;
      text-decoration: underline;
    }

    .shortLink:hover {
      transform: scale(1.125);
    }

    #display-span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .far {
      color: black;
      margin-left: 15px;
      display: none;
    }

    .show-board {
      display: inline;
    }
  }
}
