// Place all the styles related to the Shortener controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin-top: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    text-align: center;

    .display {
      margin-top: 25px;
    }
  }
}
